<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter-mapping>
  	<filter-name>FilterUsersShow</filter-name>
  	<url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>Package_IT.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Cookies</servlet-name>
  	<display-name>Cookies</display-name>
  	<description></description>
  	<servlet-class>Package_IT.Cookies</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CollectionInfo</servlet-name>
  	<display-name>CollectionInfo</display-name>
  	<description></description>
  	<servlet-class>Package_IT.CollectionInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProfile</servlet-name>
  	<display-name>EditProfile</display-name>
  	<description></description>
  	<servlet-class>Package_IT.EditProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfilesShowInfo</servlet-name>
  	<display-name>ProfilesShowInfo</display-name>
  	<description></description>
  	<servlet-class>ITpackage.ProfilesShowInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>Package_IT.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registration</servlet-name>
  	<display-name>Registration</display-name>
  	<description></description>
  	<servlet-class>Package_IT.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProfilesShowInfo</servlet-name>
  	<url-pattern>/ProfilesShowInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registration</servlet-name>
  	<url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Cookies</servlet-name>
  	<url-pattern>/Cookies</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CollectionInfo</servlet-name>
  	<url-pattern>/CollectionInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProfile</servlet-name>
  	<url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
</web-app>
